{% extends 'layout.html' %}
{% block title %}Список групп и предметов обучения{% endblock %}
{% block content %}
<h1>Список групп и предметов обучения</h1>
<h3>Поиск:</h3>
<table border="0" cellspacing="2" cellpadding="1">
  <tr class="tr-nohover">
    <th width="153px" scope="col">Группа</th>
    <th width="153px" scope="col">Предмет</th>
    <th width="153px" scope="col">Фамилия </th>
    <th width="153px" scope="col">Имя</th>
    <th width="153px" scope="col">Отчество</th>
    <th width="153px" scope="col">Форма сдачи</th>
  </tr>
</table>
<form method="get" autocomplete="off">
  <input name="group" type="text" class="border-bottom" value="{{ request.GET.group }}" size="13">    
  <input name="subject" type="text" class="border-bottom" value="{{ request.GET.subject }}"size="13">
  <input name="surname" type="text" class="border-bottom" value="{{ request.GET.surname }}"size="13">
  <input name="name" type="text" class="border-bottom" value="{{ request.GET.name }}"size="13">
  <input name="patronymic" type="text" class="border-bottom" value="{{ request.GET.patronymic }}"size="13"> 
  <input name="exam_test" type="text" class="border-bottom" value="{{ request.GET.exam_test }}"size="13"> 
  <input type="submit" value="Найти" id="Submit">    
</form>
<form method="get">
  <input name="group" type="hidden" value="">
  <input name="subject" type="hidden" value="">
  <input name="surname" type="hidden" value="">
  <input name="name" type="hidden" value="">
  <input name="patronymic" type="hidden" value="">
  <input name="exam_test" type="hidden" value="">
  <input type="submit" value="Все" id="Submit" style="margin-top: 10px;">
</form>
<p>&nbsp;</p>
<hr>
{% if groupsubject_list %}
<table width="100%"  border="1" cellspacing="2" cellpadding="1" class="center">
  <tr>
    <th scope="col">Номер</th>
    <th scope="col">Группа</th>
    <th scope="col">Предмет</th>
    <th scope="col">Фамилия </th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Форма сдачи</th>
    <th scope="col">Ведомости</th>
  </tr>
  {% for group_subject in groupsubject_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ group_subject.group__name }}</td>
    <td>{{ group_subject.subject__name }}</td>
    <td>{{ group_subject.lecturer__surname }}</td>
    <td>{{ group_subject.lecturer__name }}</td>
    <td>{{ group_subject.lecturer__patronymic }}</td>
    <td>{{ group_subject.exam_test }}</td>
    <td><a href="{% url 'group_subject_detail' pk=group_subject.id %}">Ведомость</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h3>Списка предметов пока нет!</h3>
{% endif %}
<p><a href="{% url 'results' %}">На результаты сессии</a></p>
<p><a href="{% url 'index' %}">На главную страницу</a></p>
{% endblock %}